html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height: 1;
}

.editHeader {
	width:100%;
	min-height:18px;
	background:#A29330;
	color:#FFFFFF;
	font-size:12px;
	font-family:Arial,sans-serif;
	padding:2px 0 0 2px;
}
.editHeader span, a.whatisthis {
	display:block;
	height:14px;
	font-size:11px;
	line-height:1.1em;
	padding:0 5px;
	float:right;
	margin:-1px 3px 0 2px;
}
.editHeader span.save, .editHeader span.savelogin, a.whatisthis {
	cursor:pointer;
	border:1px solid #BBBBBB;
	color:#222222;
	background: #F9F9F9; /* old browsers */
	background: -moz-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E3E3E3)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E3E3E3',GradientType=0 ); /* ie */
}
.editHeader span.saved {
	cursor:default;
	border:1px solid #CCCCCC;
	color:#666666;
	background: #EEEEEE;
}
.editRegion {
	height:100%;
	width:100%;
}
.editRegion textarea {
	width:100%;
	height:100%;
	background:#FDF2AB;
	padding:5px;
	margin:0;
	border:none;
}
#notLoggedIn {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#FFFFFF;
    opacity:0.8;
    cursor:pointer;
    text-align:center;
    font-family:Arial,sans-serif;
    font-soze:13px;
    color:#444444;
    padding:25px 0 0 0;
}