#wdn_annotate_notice {
	background:#FDF2AB;
	border-bottom:1px solid #A29330;
	padding:5px 10px;
	text-align:center;
	-webkit-box-shadow: 1px 1px 10px #787878;
	-moz-box-shadow: 1px 1px 10px #787878;
	box-shadow: 1px 1px 10px #787878;
	z-index:1;
	position:relative;
}
#wdn_annotate_message {
	
}
.wdn_annotate {
	min-height:20px;
	border:1px solid black;
}